package-lock.json
.eywa/
./eywa/
.shadow-cljs/
.cpcache/
nashorn_code_cache/
native/
node_modules/
modules/
out/
target/
dumps/
tmp/
assets/
eywa.properties

resources/app/eywa/js/*
ws/robotics/dev/css/ui.css
ws/administration/dev/css/ui.css
src/dev/development/

# Clients
# Workspace files are user-specific
.idea
tags
.cljs_rhino_repl/
.cljs_nashorn_repl/
.nrepl*
.nrepl-history
conjure-log*
module-loader.edn
module-loader.json
cljs-runtime/
.calva/
*.DS_Store 
.eywa.code-workspace
.conjure.edn
.lsp
.cpcache
.env
*.code-workspace
*.sublime-workspace
*.sublime-project
*.log
*.rtf
*.pdf
*.png
*.jpg
