{:module-uris {:main.X9CON [], :markdown.X9CON ["/eywa/js/markdown.X9CON.js"], :docs.X9CON ["/eywa/js/docs.X9CON.js"]}, :module-infos {:main.X9CON nil, :markdown.X9CON #{:main.X9CON}, :docs.X9CON #{:main.X9CON}}}