{:module-uris {:main.Qdcqs [], :markdown.Qdcqs ["/eywa/js/markdown.Qdcqs.js"], :docs.Qdcqs ["/eywa/js/docs.Qdcqs.js"]}, :module-infos {:main.Qdcqs nil, :markdown.Qdcqs #{:main.Qdcqs}, :docs.Qdcqs #{:main.Qdcqs}}}