{:module-uris {:main.HLFmV [], :markdown.HLFmV ["/eywa/js/markdown.HLFmV.js"], :docs.HLFmV ["/eywa/js/docs.HLFmV.js"]}, :module-infos {:main.HLFmV nil, :markdown.HLFmV #{:main.HLFmV}, :docs.HLFmV #{:main.HLFmV}}}