{:mvn/repos {"rpl"     {:url "https://nexus.redplanetlabs.com/repository/maven-public-releases"}
             "central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :deps
 {org.neyho/eywa-core {:mvn/version "0.3.2-SNAPSHOT"}}
  ;org.neyho/eywa-core {:local/root "../../.."}}
 ;;
 :paths ["src"]
 :aliases
 {:hr
  {:jvm-opts ["-Duser.country=HR"
              "-Duser.language=hr"
              "-Dfile.encoding=UTF-8"]}}}
