<?xml version="1.0"?>
<configuration>
  <appender name="eywa.dev" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${HOME}/.eywa/logs/system.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger{36} - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${HOME}/.eywa/logs/system.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
      <totalSizeCap>600MB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <logger name="neyho.eywa" level="info">
    <appender-ref ref="eywa.dev"/>
  </logger>

  <root level="error">
    <!-- <appender-ref ref="eywa.dev"/> -->
  </root>
</configuration>
